@media (max-width:1100px) {
  .container{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .main-area .form-area{
    width:400px;
    margin:auto;
  }
  .create-a-page-area{
    margin:auto;
  }
}
@media (max-width:1000px) {
  .main-area .facebook-help img{
    width: 280px;
    text-align: center;
    margin: auto;
  }
  .main-area .facebook-help h3{
    width: 100%;
    font-size: 22px;
    text-align: center;
  }
  .w-50{
    width: 100%;
    float:none;
  }
  .main-area{
    padding-top: 50px;
    padding-bottom: 80px;
  }
  .main-area .facebook-help{
    padding-top:0px;
    text-align: center;
    margin-bottom:50px!important;
    margin: auto;
  }
  .main-area .form-area{
    width:50%;
    margin:auto;
  }
}
@media (max-width:700px) {
  .container{
    padding-left: 10px;
    padding-right: 10px;
  }
  .main-area .form-area{
    width:60%;
  }
}
@media (max-width:500px) {
  .container{
    padding-left: 10px;
    padding-right: 10px;
  }
  .main-area .form-area{
    width:90%;
  }
  .main-area .facebook-help img{
    width: 80%;
  }
  .main-area .facebook-help h3{
    font-size: 18px;
  }
  .main-area .facebook-help{
    margin-bottom:30px!important;
  }
}